.task-name__text {
  margin: 10px 40px 40px 40px;
  max-width: 1120px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  text-align: justify;
  color: #1e46a0;
  min-height: 30px;
}

@media screen and (max-width: 490px) {
  .task-name__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .task-name__text {
    margin: 10px 10px 20px 10px;
  }
}
