.popup {
  height: 100%;
  width: 1440px;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background: rgba(12, 28, 63, 0.8);
}
