.content__button-input {
  border: none;
  background: transparent;
  background-image: url(../../../images/Group.svg);
  width: 48px;
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
