.header__button-close {
  align-self: center;
  height: 29px;
  width: 85px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.header__button-close:hover {
  cursor: pointer;
}

/*@media screen and (max-width: 776px) {
  .header__button-close  {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}*/

@media screen and (max-width: 538px) {
  .header__button-close {
    /*display: none;*/
  }
}
