.popup__input {
  background: #f4f6fa;
  box-sizing: border-box;
  border: 1px solid #cedbf5;
  border-radius: 5px;
  width: 380px;
  height: 50px;
  outline: none;
  padding: 13px 24px 13px 24px;
}

.popup__input::placeholder {
  font-weight: 300;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .popup__input {
    width: 520px;
  }
}

@media screen and (max-width: 618px) {
  .popup__input {
    width: 420px;
  }
}

@media screen and (max-width: 520px) {
  .popup__input {
    width: 320px;
    padding: 14px 14px 14px 14px;
  }
}

@media screen and (max-width: 420px) {
  .popup__input {
    width: 260px;
  }
}
