.error {
  position: absolute;
  top: 85px;
  left: 25px;
  max-width: 552px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #a01e1e;
  display: block;
}

@media screen and (max-width: 360px) {
  .error {
    max-width: 230px;
    font-size: 10px;
    top: 55px;
    left: 15px;
  }
}
