.login {
  max-width: 920px;
  min-height: 598px;
  background: #1e46a0;
  box-shadow: 0px 0px 50px rgba(30, 70, 160, 0.25);
  border-radius: 5px;
}

@media screen and (max-width: 950px) {
  .login {
    width: 600px;
    min-height: 558px;
  }
}

@media screen and (max-width: 620px) {
  .login {
    width: 500px;
    min-height: 460px;
  }
}

@media screen and (max-width: 520px) {
  .login {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .login {
    width: 340px;
  }
}

@media screen and (max-width: 360px) {
  .login {
    width: 280px;
    min-height: 363px;
  }
}
