.content__input2_size {
  width: 150px;
  font-family: "Inter";
  padding: 14px 10px 14px 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #1e46a0;
}
