.content {
  height: 100%;
  max-width: 1200px;
  margin: 80px auto 70px;
  box-shadow: 0px 0px 50px rgba(30, 70, 160, 0.25);
}

@media screen and (max-width: 1250px) {
  .content {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .content {
    max-width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .content {
    max-width: 700px;
  }
}

@media screen and (max-width: 716px) {
  .content {
    max-width: 600px;
  }
}

@media screen and (max-width: 636px) {
  .content {
    max-width: 500px;
  }
}

@media screen and (max-width: 538px) {
  .content {
    margin: 30px auto 30px;
    max-width: 450px;
  }
}

@media screen and (max-width: 490px) {
  .content {
    margin: 30px auto 30px;
    max-width: 400px;
  }
}

@media screen and (max-width: 440px) {
  .content {
    max-width: 370px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    max-width: 380px;
  }
}

@media screen and (max-width: 385px) {
  .content {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 280px;
  }
}
