.content__button-input2 {
  border: none;
  background: transparent;
  background-image: url(../../../images/Стрелка.svg);
  width: 48px;
  height: 50px;
  cursor: pointer;
}

.content__button-input2:hover {
  background-image: url(../../../images/Group-hover-strelka.png);
}
