.popup__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e46a0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
