.popup__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e46a0;
  box-shadow: 0px 0px 50px rgba(67, 129, 245, 0.5);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
