.comments__title {
  margin: 0;
  max-width: 191px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 40px 0 40px 40px;
}
