.header__avatar {
  padding: 30px 0 30px 0;
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 425px) {
  .header__avatar {
    width: 40px;
    height: 40px;
    padding: 20px 0 20px 0;
  }
}
