.login__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 920px;
  height: 474px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 950px) {
  .login__body {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .login__body {
    width: 500px;
  }
}

@media screen and (max-width: 520px) {
  .login__body {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .login__body {
    width: 340px;
  }
}

@media screen and (max-width: 360px) {
  .login__body {
    width: 280px;
    height: 281px;
  }
}
