.task-name__item-span {
  max-width: 177px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1e46a0;
}

@media screen and (max-width: 490px) {
  .task-name__item-span {
    font-size: 14px;
    line-height: 17px;
  }
}