.header__button-tasks {
  margin-right: 20px;
  border: none;
  width: 183px;
  height: 49px;
  background: #4381f5;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1050px) {
  .header__button-tasks {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 776px) {
  .header__button-tasks {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

