.login__input {
  outline: none;
  overflow: hidden;
  margin-bottom: 45px;
  width: 552px;
  /*min-height: 78px;*/
  background: #f4f6fa;
  border: 1px solid #cedbf5;
  border-radius: 5px;
  padding: 24px 24px 24px 24px;
}

@media screen and (max-width: 950px) {
  .login__input {
    width: 485px;
  }
}

@media screen and (max-width: 620px) {
  .login__input {
    width: 400px;
  }
}

@media screen and (max-width: 520px) {
  .login__input {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  .login__input {
    width: 250px;
    padding: 14px 14px 14px 14px;
  }
}

@media screen and (max-width: 360px) {
  .login__input {
    margin-bottom: 35px;
    width: 230px;
    /*height: 52px;*/
  }
}
