.popup__wrapper-block {
  display: flex;
  justify-content: center;
  margin: 40px 40px;
}

@media screen and (max-width: 1050px) {
  .popup__wrapper-block {
  }
}

@media screen and (max-width: 800px) {
  .popup__wrapper-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .popup__wrapper-block {
    margin: 30px 10px 20px 10px;
  }
}
