::placeholder {
  padding: 24px 0 24px 24px;
  max-width: 552px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #1e46a0;
}

@media screen and (max-width: 320px) {
  ::placeholder {
    max-width: 230px;
    font-size: 16px;
    text-align: justify;
    color: #1e46a0;
    padding: 14px 0 14px 14px;
  }
}
